<!DOCTYPE html>

<html lang="es">

<%const title = "Visualizador de Tareas";%>
<%- include('head.ejs', {title}); -%>

<body>

	<main>
		<header>
			<hr class="linea-bonita"/>
			<h1> Visualizador de Tareas </h1>
		</header>
		<section>
			<h2> Tareas: </h2>
			<ul>
				<% tasks.forEach(function(task){ %>
				<li>
					<div class="hidden"><%=task.id%></div>
					<h3> &#127775; <%= task.name %>: </h3>
					<p> <%= task.description %> </p>
					<div class="botones-tasks">
						<button class="editar-task" onclick="window.location.href=`/edit/<%=task.id%>`;">&#9999;&#65039; Editar</button>
						<button class="eliminar-task" onclick="eliminar(<%= task.id %>);">&#128465;&#65039; Eliminar</button>
					</div>
				</li>
				<% }); %>
			</ul>
			<hr class="linea-bonita" style="margin-left: 0px; margin-top: 100px;"/>
		</section>
	</main>

	<button class="nueva-task" onclick="window.location.href='/new';">
		<p>+ Nueva Tarea</p>
	</button>

	<script>
        const eliminar = async (id) => {
			const response = await fetch(`http://localhost:3000/tasks/${id}`, {
				method: 'DELETE'
			});
			window.location.reload(true);
		}
	</script>
</body>
</html>